*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #fff;
}
.container{
    background: #f0f2f5;
    padding-top: 72px;
    padding-bottom: 112px;
}

.content{
width: 980px;
margin: 40px;
}
.content > div{
    display: inline-block;
    vertical-align: top
   ;
}
.left-content{
    width: 580px;
    padding-right: 32px;
    box-sizing: border-box;
}
.f-logo{
    margin: 112px 0 16px;
}
.f-logo > img{
    height: 106px;
    margin: -28px;
}
.f-quote{
    font-size: 28px;
    font-weight: 500;
    color: #333;
}
.card{
    background: #fff;
    width: 396px;
    border-radius: 10px;
    box-shadow: 0 2px px 6px grey;
    padding: 10px 15px;
    box-sizing: border-box;
  
}
.input-container > input[type]{
    width: 98%;
    padding: 14px 1px;
    border-sizing: border-box;
    outline: none;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    margin: 5px 0;
    font-size: 17px;
}
.input-container > input:focus{
    border: 1px solid #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}

.Login-btn{
    background: #1877f2;
    color: #fff;
    border-radius: 6px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    border: none;
    box-sizing: border-box;
    padding: 14px 16px;
    margin: 10px 0;
}
.Forgetten-password{
    text-align: center;
}

.Forgetten-password > a{
    font-weight: 600;
    font: size 14px;
    color: #1877f2;
    display: inline-block;
    margin: 20px 0 ;
    text-decoration: none;
    

}
.Forgetten-password > a:hover{
    text-decoration: underline;
}
.divider{
    width: 100%;
    height: 1px;
    background: #d2d2dd;
}
.crt-new-ac{
    display: inline-block;
    background: #42b72a;
    border-radius: 6px;
    color: #fff;
}
.crt-new-ac{
    display: inline-block;
    background: #42b72a;
    border-radius: 6px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 17px;
    margin:20px 0 7px;
}

.crt-page{
    color: #000;
    text-align: center;
    padding: 20px 0;
}
.crt-page > a{
text-decoration: none;
font-weight: 600;
color: #000;

}
.f-lg-footer{
    width: 10000px;
    
    margin: 30px auto;
}

.f-lg-footer > ul{
    margin-bottom: 10px;
    margin-top: 10px;
}

.f-lg-footer > ul > li{
    display: inline-block;
    margin: 0 5px;
}
.f-lg-footer > ul > li > a{
    text-decoration: none;
    color: #777;
    font-size: 12px;
}


